body {
    width: 1400px;
    margin: 0 auto;
    font-family: Inter;
}

.header-nav {
    display: block;
    max-width: max-content;
    margin: 0 auto;
}

.header-nav-list a {
    text-decoration: none;
    color: black;
}

.header-nav-list-item {
    display: inline-block;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    margin-right: 72px;
    margin-top: 32px;
    margin-bottom: 32px;
    cursor: pointer;
}

.last-item {
    margin-right: 0;
}

.main-section {
    width: 850px;
    margin: 0 auto;
}

.main-section-text {
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 24px;
}

.main-section-text span {
    color: rgba(4, 149, 158, 1);
}

.main-section-text-title {
    margin: 88px 0 40px;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
}

.main-section-text-ordered {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 50px;
}

.main-button {
    display: block;
    width: 145px;
    height: 44px;
    margin: 0 auto;
    background: rgba(4, 149, 158, 1);
    margin-bottom: 88px;
    border: 0;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 24px;
}

.footer {
    font-size: 18px;
    border-top: 2px solid rgba(22, 22, 22, 1);
    padding: 16px 0;
}

.footer span{
    display: block;
    width: max-content;
    margin: 0 auto;
}
